name: Build and Publish Doxygen Docs

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Install Doxygen 1.15.0
        run: |
          sudo apt-get update
          sudo apt-get install -y wget
          wget https://www.doxygen.nl/files/doxygen-1.15.0.linux.bin.tar.gz
          tar xzf doxygen-1.15.0.linux.bin.tar.gz
          sudo cp doxygen-1.15.0/bin/doxygen /usr/local/bin/doxygen

      - name: Generate documentation
        run: doxygen docs/Doxyfile-public

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./docs/public/html
